@(content: List[controllers.PublishedContent])
@datawarning()

<table class="published-content table table-striped">
   @for(c <- content) {
<tr class="@c.rowCssClass">
         <td class="pub-date">@c.publicationDate.toString("d MMM HH:mm:ss")</td>
         <td class="cps"><span class="label percent-cps @c.cpsCssClass">@c.hitsPerSec</span></td>
         <td class="front-referral-status" title="@c.networkFrontTooltip">
             @if(c.hasNetworkFrontReferrer) {
                NF
             }
         </td>
         <td>
             @Html(c.section) <a href="@c.url" target="_blank">@Html(c.title)</a>
             <div class="trail-text">@Html(c.trailText getOrElse "")</div>
             <div class="alt-text">
                 @if(c.altText.isEmpty) {
                   (no alt text found)
                 } else {
                    <input type="text" class="alt-text-input span10 uneditable-input" value="@c.altText.get">
                 }
                 </div>
             <ol class="tag-list">
                 @for(t <- c.tags) {
                    <li><a href="@t.webUrl">@t.webTitle</a></li>
                 }
             </ol>
         </td>
     </tr>
   }
</table>
