<div class="topbar">
    <div class="fill">
        <div class="container">
            <a class="brand" href='@routes.Application.index()'>SEO Dashboard</a>
            <ul class="nav">
                <li><a href="@routes.Application.top10()">Big Top 10</a></li>
                <li><a href="@routes.Application.top20()">Top 20</a></li>
                <li><a href="@routes.Application.search()">Search</a></li>
                <li><a href="@routes.Application.content()">Recently Published</a></li>
            </ul>
        </div>
    </div>
</div>

