.tag-list { display: none }
.trail-text { display: none }
.alt-text { display: none; font-style: italic; }

.published-content {
  .pub-date { width: 100px }
}

.icon-uk {
    background-image:url(../img/uk.png);
    background-position:0 0;
}
.icon-us{
    background-image:url(../img/us.png);
    background-position:0 0;
}

