@(content: List[controllers.PublishedContent])

<!DOCTYPE html>
<html>
<head>
    <title>Recently Published</title>
    <link href='http://fonts.googleapis.com/css?family=News+Cycle' rel='stylesheet' type='text/css'>
    @views.html.snippets.includes()

    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/std.css")'>

    <script defer src='@routes.Assets.at("js/auto-refresh.js")'></script>
</head>
<body>

@views.html.snippets.topnav()

<div class="container">

    <div class="content">
        <div class="page-header">
            <h1>Recently Published Content
                <small>on www.guardian.co.uk in the last 24 hours</small>
            </h1>
        </div>

        <div class="row">
            <div class="span16" data-ajax-refresh="@routes.Application.contentChart()">
               @views.html.snippets.contentChart(content)
            </div>
        </div>

    </div>


</div>

</body>
</html>